@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  color: #393939;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.fade-in-anim {
  animation: fade-up 1s;
}